body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.preview {
  width: 100%;
  position: relative;
}
.preview .container {
  position: absolute;
  padding: 5px;
}
.preview img {
  width: 100%;
}
textarea {
  width: 100%;
}
@media screen and (max-width: 399px) {
  .preview .container {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) and (min-width: 400px) {
  .preview .container {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) and (min-width: 501px) {
  .preview .container {
    font-size: 20px;
  }
}
@media screen and (min-width: 701px) {
  .preview .container {
    font-size: 35px;
  }
}
